@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<p>Elaborado por: Emmanuel Villanueva Rivera.</p>
<p>No. de control: 17100309</p>
<p>Asignatura: Programación Avanzada 1</p>
<p>Proyecto: Sistema de una óptica</p>
