@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Nombre:</strong> <p>Emmanuel Villanueva Rivera</p>
    <br/>
    <strong>Correo institucional:</strong> <a href="mailto:L17100309@nlaredo.tecnm.mx">L17100309@nlaredo.tecnm.mx</a>
</address>