@{
        ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de información para Óptica</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido al sistema de información para tu óptica.</h2>
        <p>
            Con esta aplicación tienes a tu disposición lo necesario para
            administrar tu óptica, aquí puedes consultar y manejar:
        </p>
        <ul>
            <li>Inventario de anteojos y otros productos.</li>
            <li>Suscripciones de clientes a algún producto.</li>
            <li>Listado de clientes.</li>
            <li>Registro de ventas.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Proyecto académico</h2>
        <p>Este sistema es un proyecto académico para la materia de Programación Avanzada 1.</p>
        <p>Elaborado por: Emmanuel Villanueva Rivera</p>
    </div>
    <div class="col-md-4">
        <h2>Repositorio</h2>
        <p>¿Quieres consultar el repositorio de este proyecto?</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/Asduf/optica/src/master/">¡Click aquí!</a></p>
    </div>
</div>